*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #aaa;
    box-sizing: border-box;
}

.mainBody{
    margin-top: 2em;
}

table, th, tr, td{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    padding-top: 20px;
    height: 90px;
    text-align: center;
}

#mainTitle:hover{
    cursor: pointer;
}

header h1{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkred;
    text-decoration: underline;
}

.rest{
    border: 3px darkred solid;
    width: 500px;
    height: auto;
    /* margin: 0 auto; */
    padding: 10px;
    background-color: grey;
}

ul{
    list-style-position: inside;
    margin-top: 10px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.flexbt{
    display: flex;
    justify-content: space-between;
}

.flex-con{
    width: 50%;
    margin: 1em auto;
}

.rollcountbox{
    text-align: center;
    margin-top: 10px;
    font-size: 28px;
    font-weight: bolder;
}

.btn{
    width: 70px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: orange;
    border: black 1px solid;
    outline: none;
    box-shadow: 3px 6px 2px black;
}

.btn:active{
    width: 70px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: orange;
    border: black 1px solid;
    outline: none;
    box-shadow: none;
}

.btn-disabled{
    width: 70px;
    padding: 5px 10px;
    font-size: 20px;
    background-color: rgb(245, 186, 108);
    border: black 1px solid;
    outline: none;
    box-shadow: none;
}

.btn:hover{
    cursor: pointer;
}

.die{
    height: 75px;
    width: 75px;
    margin: 0 5px;
    border: 1px black solid;
}

.box{
    width: 75px;
    border: 1px black solid;
    background-color: deepskyblue;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 3px 0;
    box-shadow: 3px 6px 2px black;
    margin: 10px 5px 0 5px;
    transition: .51s;
}

.boxActivated{
    width: 75px;
    font-weight: bolder;
    font-size: 20px;
    border: 1px black solid;
    background-color: red;
    text-align: center;
    padding: 3px 0;
    margin: 10px 5px 0 5px;
    transition: .51s;
}

.box:hover{
    cursor: pointer;
}

.box:active{
    box-shadow: none;
    transition: all, .51s;
}

/* --------------Need to work on this right here-------------- */

.totalScore{
    background-color: white;
    border: 1px darkred solid;
    padding: 0 15px;
    margin: 30px auto 10px auto;
    width: 60%;
    text-align: center;
}

.totalBtn{
    display: block;
    margin: auto;
    font-size: 20px;
    background-color: white;
    padding: 5px;
}

.playerName{
    display: block;
    width: 120px;
    margin: 40px auto 10px auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
/* New Stuff--------------------------------------------- */

.newForm{
    width: 500px;
    position: relative;
    height: 400px;
    border: 3px darkred solid;
    background-color: grey;
    text-align: center;
}

.topSection{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.tab{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: #444;
    cursor: pointer;
    font-size: 25px;
    border-bottom: 1px black solid;
}

.tab-active{
    width: 200px;
    height: 30px;
    text-align: center;
    background-color: grey;
    cursor: pointer;
    font-size: 25px;
}





/* -------------------Actual Form------------- */

.row{
    display: flex;
    height: 25px;
    border-bottom: 1px black solid;
}

.formBox{
    width: 125px;
}

.formBox input[type=text]{
    width: 40px;
    text-align: center;
}

.outBox{
    width: 40px;
    background: white;
    height: 83%;
    margin: auto;
}

.gone{
    display: none;
}

.playForm{
    display: block;
}

.formTitle{
    width: 100%;
    text-align: center;
    background-color: gray;
}

.btnTotalRow{
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.btnTotal{
    padding: 10px;
    border: none;
    font-size: 25px;
    cursor: pointer;
    background-color: deepskyblue;
    outline: none;
    box-shadow: 5px 10px 5px;
    transition: all, .21s
}

.rightPush{
    margin-left: 10px;
}

.btnTotal:active{
    box-shadow: none;
    transition: all, .21s
}

#totalBtn2{
    display: none;
}

/* ------------------Rules Pop-up--------------------- */
.black-out{
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: .80;
    z-index: 3;
    display: none;
}


.pop-up{
    width: 500px;
    position: absolute;
    top: 50px;
    left:calc(50vw - 251px);
    border: 3px darkred solid;
    z-index: 10;
    background-color: black;
    color: white;
    padding: 20px;
    opacity: 1;
    display: none;
}

.close-pop{
    width: fit-content;
    margin: 1em auto;
    background-color: darkred;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
}

.rules-open{
    width: fit-content;
    background-color: deepskyblue;
    margin: 1em auto;
    border: 3px darkred solid;
    font-size: 20px;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
}