body{
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: lightgray;
}

.center{
    text-align: center;
}

#name{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 30px;
}

#navMike{
    margin: 0;
    padding: 0;
}

.space{
    margin-top: 10px;
}

section{
    margin-top: 2em;
}

#footer{
    height: 56px;
}

.wrapper{
    min-height: calc(100vh - 56px);
}

.inside{
    padding: 20px;
    margin-top: 10px;
    background-color: white;
}

.sectionTop{
    border-bottom: 3px red solid;
}

.sectionMid{
    margin-top: 10px;
}

.line{
    height: 5px;
    background: linear-gradient(90deg, navy, deepskyblue);
}

.sectionTitle{
    border-bottom: black 1px solid;
}

.box{
    height: 125px;
    position: relative;
    width: 175px;
    margin: 0 auto;
    background-color: black;
}

.sep{
    margin-bottom: 10px;
}


.push{
    margin-bottom: 60px;
}

.portTitle{
    position: absolute;
    background-color: deepskyblue;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0;
}

.space{
    height: 100px;
}