
body{
    overflow-x: hidden;
    box-sizing: border-box;
    background-image: url(../images/old_moon/old_moon.png);
}

.wrapper{
    min-height: calc(100vh - 56px);
}

h1, h2, h3, h4, h5, h6, ul, p{
    padding: 0;
    margin: 0;
}

.navbar-custom{
    background-color: #fff;
}


.list-style{
    list-style: none;
    margin: 20px 0;
}

.stop{
    min-height: 482.4px;
}

.center{
    text-align: center;
}

.card{
    margin: 30px auto 0 auto;
    text-align: center;
}

#name{
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 36px;
}

.around{
    height: 100%;
    background-color: #4aaaa5;
    padding: 4px 8px;
}

.navbar{
    padding: 0;
}

.myNavLi{
    background-color: #4aaaa5;
}

.myNavA{
    color: white;
    padding: 2px 4px;
}

.myNavA:hover{
    background-color: #333;
    color: white;
    text-decoration: none;
}

.middleNavLi{
    margin: 0 8px;
}

.activeMy{
    background-color: #F8F9FA;
    color: #555;
}

.activeMy:hover{
    background-color: #F8F9FA;
    color: #555;
}

.space{
    margin: 1em 0;
}

.space-top{
    margin-top: 1em;
}

.border3{
    border: 1px black solid;
    /* box-shadow: 15px 7px 50px black; */
}

.border4{
    border: 1px black solid;
    box-shadow: 7px 7px 10px black;
}

.answer{
    margin-left: 15px;
}

#footer{
    /* height: 56px; */
    position: relative;
}

.top-line{
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #4aaaa5;
}

.inside{
    padding: 10px;
    background-color: white;
}

.sectionMid{
    margin-top: 10px;
}

.line{
    height: 5px;
    background: linear-gradient(90deg, navy, deepskyblue);
}

.sectionTitle{
    border-bottom: black 1px solid;
}

.box{
    height: 125px;
    position: relative;
    width: 175px;
    margin: 0 auto;
    background-color: black;
    cursor: pointer;
}

img{
    display: block;
    margin: auto;
}

.sep{
    margin-bottom: 10px;
}


.push{
    margin-bottom: 60px;
}

.portTitle{
    position: absolute;
    background-color: #4aaaa5;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0;
}

.portTitleReal{
    position: absolute;
    background-color: deepskyblue;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0;
    cursor: pointer;
}

/* Portfolio Page */

#box1{
    background-image: url("../images/portPics/todoList.jpeg");
    box-shadow: 7px 7px 10px deepskyblue;
    cursor: pointer;
    opacity: 0;
    animation-name: easeIn;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

#box2{
    background-image: url("../images/portPics/trivia.png");
    opacity: 0;
    box-shadow: 7px 7px 10px deepskyblue;
    animation-name: easeIn;
    animation-duration: 3.0s;
    animation-fill-mode: forwards;
}

#box3{
    background-image: url("../images/portPics/sf2.jpg");
    opacity: 0;
    animation-name: easeIn;
    box-shadow: 7px 7px 10px deepskyblue;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}

#box4{
    background-image: url("../images/portPics/math.jpeg");
    opacity: 0;
    animation-name: easeIn;
    box-shadow: 7px 7px 10px deepskyblue;
    animation-duration: 4.0s;
    animation-fill-mode: forwards;
}

#box5{
    background-image: url("../images/portPics/retroGame.jpeg");
    opacity: 0;
    animation-name: easeIn;
    animation-duration: 4.5s;
    animation-fill-mode: forwards;
}

/* -----------Animations------------ */

#animate{
    position: relative;
    animation-name: toLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes toLeft{
    0%{right: -900px;}
    100%{right: 0px;}
}

#headNav{
    position: relative;
    animation-name: drop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes drop{
    0%{top: -100px;}
    100%{top: 0px;}
}

.footLeft{
    animation-name: toLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.footRight{
    animation-name: toRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes toRight{
    0%{left: -750px;}
    100%{left: 0px;}
}


.easeIn{
    opacity: 0;
    animation-name: easeIn;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes easeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/* Media Queries */

@media (max-width: 993px) {
    .myNavLi{
        border: none;
        background-color: #fff;
    }

    .myNavA{
        color: #333;
    }

    .middleNavLi{
        margin: 0;
    }
}

@media (max-width: 768px) {
    #name{
        font-size: 30px;
    }
}

