body{
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: lightgray;
}
.center{
    text-align: center;
}

.border4{
    border: 1px black solid;
}


header{
    background-color: white;
}

.name{
    background-color: #333;
    color: white;
}

.nav-item{
    margin-top: 10px;
}

.nav-link{
    color: #333;
    font-size: 20px;
}

.space{
    margin-top: 10px;
}

section{
    margin-top: 2em;
    margin-bottom: 100px;
}

.inside{
    padding: 20px;
    margin-top: 2em;
    background-color: white;
}

.sectionTop{
    border-bottom: 3px red solid;
}

.sectionMid{
    margin-top: 10px;
}

.line{
    height: 5px;
    background: linear-gradient(90deg, navy, deepskyblue);
}

.sectionTitle{
    border-bottom: black 1px solid;
}

.box{
    height: 125px;
    position: relative;
    width: 175px;
    margin: 0 auto;
    background-color: black;
}

.sep{
    margin-bottom: 10px;
}


.push{
    margin-bottom: 60px;
}

.portTitle{
    position: absolute;
    background-color: deepskyblue;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0;
}
