body{
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.task{
    display: flex;
    align-items: center;
    min-height: 40px;
    justify-content: space-between;
    border: 3px darkred solid;
    margin-top: 1em;
    background-color: rgb(227, 230, 105);
    box-shadow: 5px 10px 10px;
    padding: 3px 0;
}

.mainTitle{
    font-family: 'Permanent Marker', cursive;
}

.inputName{
    max-width: 200px;
}

.space-top{
    margin-top: 1em;
}


.btnDel{
    display: flex;
    position: relative;
    right: 5px;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    margin: none;
    height: 25px;
    width: 25px;
    color: white;
    background-color: red;
}

.taskTitle{
    padding-left: 10px;
    margin-right: 10px;
    font-family: 'Permanent Marker', cursive;

}

.taskInfo{
    width: 60%;
    margin: 0 10px 0 0;
}

.addBtn{
    display: block;
    width: fit-content;
    background-color: deepskyblue;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 0px black;
    border: 1px black solid;
    transition: all, .51s;
}

.addBtn:active{
    box-shadow: none;
    transition: all, .51s
}

.input{
    display: block;
    background-color: lightgray;
    width: 100%;
    border: black 1px solid;
    margin: 1em auto;
    text-align: center;
    min-height: 30px;
    font-size: 18px;
    box-shadow: 5px 5px 0px;
    outline: none;
}

.mainSection{
    background-color: rgb(227, 230, 105);
}

#taskDetail{
    font-size: 16px;
}

#taskName{
    font-weight: bold;
}

.border2{
    border: 1px black solid;
}

.output{
    margin: 1em auto;
}